header {
    background-color: #2a2f44;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-color: aqua;
    border-style: dashed;
    border-width: 2px;
}

.nav-bar span{
    flex-grow: 2;
    align-self: center;
    border-color:green;
    border-style: dashed;
    border-width: 2px;
    color: thistle;
}

.nav-bar div{
    margin: 10px;
    border-color:green;
    border-style: dashed;
    border-width: 2px; 
    color: thistle;
}

.first-section {
    display: flex;
    background-color: #2a2f44;
    border-color:mediumorchid;
    border-style: dashed;
    border-width: 2px; 
}

.container {
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 30%;
    border-color:rgb(128, 94, 0);
    border-style: dashed;
    border-width: 2px; 
    color: thistle;   
}

h2 {
    border-color:mediumaquamarine;
    border-style: dashed;
    border-width: 2px; 
    color: thistle;     
}

.first-section p {
    border-color:rgb(147, 225, 245);
    border-style: dashed;
    border-width: 2px; 
    color: thistle;    
}

.first-section img {
    margin-left: 30px;
    align-self: center;
    border-color:rgb(213, 231, 46);
    border-style: dashed;
    border-width: 2px; 
}

h3 {
    border-color:rgb(134, 24, 207);
    border-style: dashed;
    border-width: 2px;   
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    border-color:rgb(46, 26, 224);
    border-style: dashed;
    border-width: 2px;   
}

.flex-item {
    /* width: 20px;
    height: 20px; */
    justify-content: flex-start;
    display: flex;
    padding-left: 20px;
    border-color:rgb(88, 142, 163);
    border-style: dashed;
    border-width: 2px;  
}

.flex-item img {
    width: 100px;
    height: 100px;
    border-color:rgb(21, 24, 26);
    border-style: dashed;
    border-width: 2px;  
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    margin-top: 30px;
    background-color: rgb(216, 216, 216);
    border-color:rgb(186, 212, 230);
    border-style: dashed;
    border-width: 2px;    
}

p:first-child {
    width: 80%;
    margin-top: 30px;
    border-color:rgb(202, 245, 209);
    border-style: dashed;
    border-width: 2px;   
}
p:last-child {
    align-self: flex-end;
    width: 20%;
    padding-right: 10%;
    border-color:rgb(42, 241, 75);
    border-style: dashed;
    border-width: 2px;
}