header {
    background-color: #2a2f44;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: aqua;
    border-style: dashed;
    border-width: 2px;

.nav-bar span {
    flex-grow: 2;
    align-self: center;
    border-color:green;
    border-style: dashed;
    border-width: 2px;
    color: thistle;
}

.nav-bar div{
    margin: 10px;
    border-color:green;
    border-style: dashed;
    border-width: 2px; 
    color: thistle;
}